<section class="exercises">
  <h2 class="exercises-title">Exercises</h2>
  <ul class="exercises-buttons-list">
    <li class="exercises-buttons-item">
      <button type="button" class="exercises-button">Muscles</button>
    </li>
    <li class="exercises-buttons-item">
      <button type="button" class="exercises-button">Body parts</button>
    </li>
    <li class="exercises-buttons-item">
      <button type="button" class="exercises-button">Equipment</button>
    </li>
  </ul>
  <ul class="exercises-card-list" id="exercises-cards"></ul>
</section>
